html {
	/* height:100%; */
	background-color: darkslategray;
	/* 	background: -webkit-linear-gradient(darkslategray, lightslategray); For Safari 5.1 to 6.0
    background: -o-linear-gradient(darkslategray, lightslategray); For Opera 11.1 to 12.0
    background: -moz-linear-gradient(darkslategray, lightslategray); For Firefox 3.6 to 15
    background: linear-gradient(darkslategray, lightslategray); Standard syntax (must be last)	*/
	/* background-color: #DCDCDC;
	background: -webkit-linear-gradient(gainsboro, white); For Safari 5.1 to 6.0
    background: -o-linear-gradient(gainsboro, white); For Opera 11.1 to 12.0
    background: -moz-linear-gradient(gainsboro, white); For Firefox 3.6 to 15
    background: linear-gradient(gainsboro, white); Standard syntax (must be last) */
}

body {
	height: 100%;
	position: relative;
	background: rgba(0, 0, 0, 0.0);
	color: white;
	/* color: black; */
	font-weight: 300;
	font-size: 20px;
	font-family: Calibri;
	text-align: justify;
	text-justify: inter-word;
}

.affix {
	top: 0;
	width: 100%;
	z-index: 9999 !important;
}

.navbar {
	margin-bottom: 0px;
}

.affix ~ .container {
	position: relative;
	top: 50px;
}

.smooth-header {
	padding-top: 0;
	padding-bottom: 20px;
}

.smooth-container {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 100px;
}

.smooth-foot-container {
	padding-left: 30px;
	padding-right: 30px;
}

.smooth-logo .smooth-logo-link {
	float: none;
	width: auto;
	height: auto;
}

.smooth-logo img {
	width: auto;
	border-style: none;
	vertical-align: top;
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
}

.smooth-col-logo {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 55px 0px 0 0;
	/*     padding-left: 0px;
	padding-right: 0px; */
}

.smooth-logo a {
	display: block;
	max-width: 100%;
}

.container-header {
	
}

.navbar-collapse {
	
}

.row-header {
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
}

.smooth-header-content {
	width: auto;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 75px 0px 0 0;
}

.smooth-col-tagline {
	padding-left: 0px;
	padding-right: 0px;
}

.smooth-header-tagline {
	font-weight: 300;
	font-style: italic;
	font-size: 21px;
	font-family: Calibri;
}

.smooth-footer {
	padding-top: 30px;
	padding-bottom: 0px;
}

.smooth-copyright {
	font-weight: 300;
	font-style: italic;
	font-size: 14px;
	font-family: Calibri;
	color: #686868;
}

.smooth-tooltip {
	font-size: 24px;
	color: #686868;
	margin-left: 10px;
	margin-right: 10px;
}

.smooth-contact-row{
	padding-top: 30px;
}

.smooth-contact-tooltip {
	font-size: 24px;
	color: #686868;
	margin-left: 5px;
	margin-right: 5px;
}

.navbar-nav>li>.dropdown-menu {
	font-size: 16px;
	background-color: #D3D3D3;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.navbar-nav .dropdown-menu>li>a:hover {
	
}

a.smooth-link:link {
	color: #000000;
	/* color: #708090; */
}

a.smooth-link:visited {
	color: #D3D3D3;
	/* color: #696969; */
}

a.smooth-link:hover {
	color: #FA8072;
}

a.smooth-link:active {
	color: #FA8072;
}