
{{ partial "header.html" . }}


<div class="container smooth-container">
	<h1>Publications</h1>

	{{ range .Site.Params.References }}
		{{ $bib := .bib }}
		<h3 id="{{ $bib }}">{{ .title | safeHTML }}</h3>
		{{ range $key, $item := $.Site.Data.publication }}
			{{ if eq $key $bib }}
				<ol>
				{{ range $item.references }}
				<li><p><a class="smooth-link" title="{{ .title }}" href='{{ if ne .DOI "" }} https://doi.org/{{ .DOI }} {{ else }} {{ .URL }} {{ end }}' target="_blank"><u>{{ .title }}</u></a>.
				{{ $len := (len .author) }}
				{{ range $index, $item2 := .author }}
				{{ if ne (sub $len 1) $index }}
				{{ $item2.given }} {{ $item2.family }},
				{{ else }}
				and {{ $item2.given }} {{ $item2.family }},
				{{ end }}
				{{ end }}
				{{ if ne .containertitle "" }}
				{{ .containertitle }},
				{{ end }}
				{{ range .issued }}
				{{ if ne .year "" }}
				{{ .year }},
				{{ end }}
				{{ end }}
				{{ .location }}.
				<br>
				<script>
					$(function () {
    					$('[data-toggle="tooltip"]').tooltip()
					})
				</script>
				<a class="smooth-link smooth-modal-link" data-toggle="modal" data-target="#abstract_modal_{{ .id }}" href="">[Abstract]</a>
				<a class="smooth-link smooth-modal-link" data-toggle="modal" data-target="#bibtex_modal_{{ .id }}" href="">[BibTex]</a>
				<a class="smooth-link" target="_blank" href="{{ $.Site.BaseURL }}{{ $.Site.Params.Files }}{{ .PDF }}">[PDF]</a>
				<div id="bibtex_modal_{{ .id }}" class="modal fade smooth-modal vertical-align-center" role="dialog" style="padding: 0 0 0 0;">
					<div class="modal-dialog smooth-modal-font">
    					<div class="modal-content">
      						<div class="modal-header smooth-modal-header">
        						<button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
        						<h4 class="modal-title"><b>BibTex</b></h4>
      						</div>
      						<div class="modal-body smooth-citation-modal">
      							<pre>{{ .citation }}</pre>
      						</div>
      						<div class="modal-footer"></div>
    					</div>
  					</div>
				</div>
				<div id="abstract_modal_{{ .id }}" class="modal fade smooth-modal" role="dialog" style="padding: 0 0 0 0;">
					<div class="modal-dialog smooth-modal-font">
    					<div class="modal-content">
      						<div class="modal-header smooth-modal-header">
        						<button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
        						<h4 class="modal-title"><b>Abstract</b></h4>
      						</div>
      						<div class="modal-body smooth-abstract-modal">
        						<p>{{ .abstract }}</p>
      						</div>
      						<div class="modal-footer"></div>
    					</div>
  					</div>
				</div>
				</p></li>
				{{ end }}
				</ol>
			{{ end }}
		{{ end }}
	{{ end }}

	<br>
	<div style="font-size: 14px;"><p>
	{{ .Content | safeHTML }}
	</p></div>
</div>


{{ partial "footer.html" . }}
